[submodule "Plugins/DDTools"]
	path = Plugins/DDTools
	url = https://github.com/remap/DDTools.git
[submodule "Plugins/FMODStudio"]
	path = Plugins/FMODStudio
	url = git@github.com:wzq94qzw/GrasshopperFmod.git
[submodule "Plugins/Fsound"]
	path = Plugins/Fsound
	url = git@github.com:wzq94qzw/GrasshopperSoundPlugin.git
